<html>
    <body>
        <form method="POST" action="/login">
            <h3>Username:</h3>
            <input type="text" name="username" required="required"> 
            <br>
            <br>
            <h3>Password:</h3>
            <input type="password" name="password" required="required"> 
            <br>
            <br>
            <button>Log in</button>
        </form>
        <% if(message) { %>
            <h3><%= message %></h3>
        <% } %>
    </body>
</html>