<html>
    <body>
        <form method="POST" action="newpost">
        <h3>Title</h3>
        <input type="text" name="title" required="required">
        <br>
        <br>
        <h3>Content</h3>
        <input type="text" name="content" required="required">
        <br>
        <br>
        <button>Create post</button>
        </form>
    </body>
</html>