<html>
    <body>
        <% for(const post of allPosts) { %>
            <h3><%= post.title %></h3>
            <p><%= post.content %></p>
        <% } %>
        <button><a href="/newpost">Add new post</a></button>
    </body>
</html>